/* ----------------------------- Estilos Basicos ---------------------------- */

@media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    body {
        zoom: .8;
    }

    header {
        display: none !important;
    }
}

/* --------------------------------- Header --------------------------------- */
header {
    width: 100%;
    display: flex;
    font-weight: bold;
    user-select: none;
    align-items: center;
    flex-direction: row;

    .logo {
        gap: 8px;
        display: flex;
        margin-right: 6px;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        color: var(--col-fg-primary-semi);

        .appIcon {
            width: auto;
            height: 28px;
            transform: translateY(-2.5px);
            -webkit-user-drag: none;
        }

        .appName {
            font-size: 22px;

            @media screen and (width<=580px) {
                display: none;
            }
        }

        &:hover {
            .appVer {
                opacity: .5;
            }
        }
    }

    .appVer {
        opacity: 0;
        font-weight: bold;
        transition: all 0.3s ease 0s;
        color: var(--col-fg-primary-semi);

        @media screen and (width<=580px) {
            display: none;
        }
    }


    .links {
        gap: 24px;
        display: flex;
        margin-left: auto;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        color: var(--col-fg-primary-semi);

        a,
        .feather {
            cursor: pointer;
            transition: all 0.3s ease 0s;

            &:hover {
                color: var(--col-fg-primary);
            }
        }

        .feather-settings:hover {
            transform: rotate(-15deg);
        }

        a {
            color: var(--col-fg-primary-semi);

            &:hover {
                filter: none;
            }
        }
    }
}

/* ---------------------------- Pantalla de carga --------------------------- */

.loadingOverlay {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: all .3s ease;
    background-color: rgba(0, 0, 0, .7);

    .spinner {
        width: 60px;
        height: 60px;
        padding: 3px;
        overflow: visible;

        &>circle {
            r: 50%;
            cx: 50%;
            cy: 50%;
            fill: none;
            stroke: #fff;
            stroke-width: 6px;
            stroke-linecap: round;
            transform-origin: center;
        }
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

/* ------------------------------- Contenedor ------------------------------- */

.mainContainer {
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 18px 24px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    backdrop-filter: blur(60px);
    -webkit-user-drag: none;
}

/* ------------------------------- Background ------------------------------- */

.background {
    width: 100%;
    opacity: .2;
    z-index: -1;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    pointer-events: none;
    transition: all 1s ease;
    justify-content: center;

    @media (prefers-color-scheme: light) {
        opacity: .4;
    }

    &>.blob {
        height: 25%;
        width: 12.5%;
        position: absolute;
        border-radius: 100%;
    }
}

/* -------------------------------- Contenido ------------------------------- */

main {
    gap: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ----------------------------- Area de subida ----------------------------- */

#dropArea {
    gap: 4px;
    width: 750px;
    height: 300px;
    display: flex;
    max-width: 90%;
    max-height: 60%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 18px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out 0s;
    border: 1.8px solid var(--col-fg-border);
    background-color: var(--col-bg-secondary-semi);
    background-image: url('../img/tex_noise.png');

    @media screen and (width<=580px) {
        transform: none !important;
    }

    &:hover,
    &.dragover {
        filter: brightness(150%);

        @media (prefers-color-scheme: light) {
            filter: brightness(80%);
        }
    }

    & * {
        color: var(--col-fg-secondary);

        @media (prefers-color-scheme: light) {
            color: var(--col-fg-primary);
        }
    }

    .title {
        max-width: 80%;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;

        &.large {
            @media screen and (width<=580px) {
                display: none;
            }
        }

        &.small {
            @media screen and (width>580px) {
                display: none;
            }
        }
    }

    .feather {
        width: auto;
        height: 60px;
        margin-bottom: 14px;
    }

    .divider {
        opacity: .5;
        height: 1.3em;
        overflow: hidden;
        text-align: center;
        transition: all .3s ease;

        &::before,
        &::after {
            background-color: var(--col-fg-secondary);

            @media (prefers-color-scheme: light) {
                background-color: var(--col-fg-secondary);
            }

            width: 100px;
            content: "";
            height: 1.8px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }

        &::before {
            right: 0.5em;
            margin-left: -50%;
        }

        &::after {
            left: 0.5em;
            margin-right: -50%;
        }

        &.active {
            height: 0;
        }
    }

    span.sub {
        font-size: .8em;

        @media screen and (width<=580px) {
            display: none;
        }

        &.active {
            display: initial;
        }
    }

    @media screen and (width<=580px) {
        .divider {
            height: 0;
        }
    }
}

.link {
    gap: 6px;
    bottom: 28px;
    display: flex;
    font-size: .95em;
    position: absolute;
    align-items: center;
    flex-direction: column;

    svg {
        height: 1em;
    }

    .link-title {
        font-size: .85em;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--col-fg-primary);
    }

    a,
    span {
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
    }

    .link-expire {
        opacity: .5;
        font-size: .9em;
        font-weight: bold;
        color: var(--col-warning);

        &.hidden {
            display: none;
        }
    }

    &.hidden {
        display: none;
    }
}

.expire {
    gap: 8px;
    display: flex;
    font-size: .9em;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s ease 0s;
    color: var(--col-fg-primary-semi);

    @media (prefers-color-scheme: light) {
        color: var(--col-fg-primary-semi);
    }

    &.hidden {
        @media screen and (height<=600px) {
            opacity: 0;
            pointer-events: none;
        }
    }
}

#fileForm {
    bottom: 28px;
    position: absolute;

    @media screen and (height<=600px) {
        right: 28px;
    }

    &.hidden {
        display: none;
    }
}