/* --------------------------------- Header --------------------------------- */
header {
    width: 100%;
    display: flex;
    font-weight: bold;
    user-select: none;
    align-items: center;
    flex-direction: row;

    .logo {
        gap: 8px;
        display: flex;
        margin-right: 6px;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        color: var(--col-fg-secondary);

        .appIcon {
            width: auto;
            height: 28px;
            transform: translateY(-2.5px);
            -webkit-user-drag: none;
        }

        .appName {
            font-size: 22px;
        }

        &:hover {
            .appVer {
                opacity: .5;
            }
        }
    }

    .appVer {
        opacity: 0;
        font-weight: bold;
        transition: all 0.3s ease 0s;
        color: var(--col-fg-secondary);
    }


    .links {
        gap: 24px;
        display: flex;
        margin-left: auto;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        color: var(--col-fg-secondary);

        a,
        .feather {
            cursor: pointer;
            transition: all 0.3s ease 0s;

            &:hover {
                color: var(--col-fg-primary);
            }
        }

        .feather-settings:hover {
            transform: rotate(-15deg);
        }

        a {
            color: var(--col-fg-secondary);

            &:hover {
                filter: none;
            }
        }
    }
}

/* ------------------------------- Contenedor ------------------------------- */

.mainContainer {
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 18px 24px;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    backdrop-filter: blur(60px);
    -webkit-user-drag: none;
}

/* ------------------------------- Background ------------------------------- */

.background {
    width: 100%;
    opacity: .2;
    z-index: -1;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    pointer-events: none;
    justify-content: center;

    @media (prefers-color-scheme: light) {
        opacity: .4;
    }

    &>.blob {
        height: 25%;
        width: 12.5%;
        position: absolute;
        border-radius: 100%;
    }
}

/* -------------------------------- Contenido ------------------------------- */

main {
    width: 100%;
    height: 100%;
    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* ----------------------------- Area de subida ----------------------------- */

#dropArea {
    gap: 4px;
    width: 750px;
    height: 300px;
    display: flex;
    max-width: 90%;
    cursor: pointer;
    font-weight: bold;
    border-radius: 18px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out 0s;
    border: 1.8px solid var(--col-fg-border);
    background-color: var(--col-bg-secondary-semi);
    background-image: url(/assets/img/tex_noise.png);

    &:hover {
        filter: brightness(150%);
    }

    & * {
        color: var(--col-fg-secondary);

        @media (prefers-color-scheme: light) {
            color: var(--col-fg-primary);
        }
    }

    &:hover {
        filter: brightness(80%);
    }

    .feather {
        width: auto;
        height: 60px;
        margin-bottom: 14px;
    }

    .divider {
        opacity: .5;
        overflow: hidden;
        text-align: center;

        &::before,
        &::after {
            background-color: var(--col-fg-secondary);

            @media (prefers-color-scheme: light) {
                background-color: var(--col-fg-secondary);
            }

            width: 100px;
            content: "";
            height: 1.8px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
        }

        &::before {
            right: 0.5em;
            margin-left: -50%;
        }

        &::after {
            left: 0.5em;
            margin-right: -50%;
        }
    }

    span.sub {
        font-size: .8em;
    }

    input {
        display: none;
    }
}

.expire {
    gap: 8px;
    display: flex;
    margin-top: 22px;
    font-size: .9em;
    align-items: center;
    flex-direction: column;
    color: var(--col-fg-secondary);

    @media (prefers-color-scheme: light) {
        color: var(--col-fg-primary);
    }
}

#uploadBtn {
    bottom: 28px;
    position: absolute;
}